##### sets
    set2 = {1,2,3,4,5,6,7,8,9,10}
    set3 = {3,4,5}
    set4 = {3,4,5}
    set5 = {6,7,8,9}

##### subsets
    set3.issubset(set2)
    set3 <= set2
    
##### proper sets
    set2 < set3
    
##### supersets
    set2.issuperset(set3)
    set2 >= set3
    
##### to remove an element from a set
    set3.remove(4)
    
#### setoperators
##### intersection (and)
    set4.intersection(set2)
    set4&set2
    
##### union (or)
    set4.union(set2)
    set4|set2
    
##### difference 
    set2 - set4
    set2.difference(set4)
    
##### cardinality(length of a set)
    len(set4)
    
##### exclusion-inclusion principle
    len(set4|set2) == len(set4) + len(set2) - len(set2&set4)
    
##### items in set
    4 in set4
        
##### items not in set
    4 not in set4

# TUESDAY 16TH SEP,2025

## COMBINATRONICS AND PROBABILITY

## SETS

In [1]:
set1 = {"mango","apple","kiwi","quava","orange"}

In [2]:
# IN the operator used to look iof sth is inside a set
# NOT IN 
"lemon" not in set1

True

In [3]:
set2 = {1,2,3,4,5,6,7,8,9,10}
set3 = {3,4,5}
set4 = {3,4,5}
set5 = {6,7,8,9}

## Set membership
### Subsets
- a subset t is said to be a subset of s if every element also t is also a subset of s

In [4]:
set3.issubset(set2)

True

In [5]:
set4.issubset(set5)

False

In [6]:
set4.issubset(set3)

True

In [7]:
# we can use comparison operators to check whether there is a subset
set5<=set2

True

In [8]:
set2<=set5

False

#### Proper subset
- a set t is a proper subset of s if every element of t is also in set s and the two sets do not contain the exact same elements
- denoted nby less than sign <

In [9]:
set3 < set4

False

In [10]:
set3 < set2

True

#### Super sets
- A super set is the inverse of a subset 
- set2 is a superset of set3 ,set4, set5
- set4 is a superset of set3

In [11]:
# we can use the <= to check if its super set
set2 >= set3

True

In [12]:
# we can use the issuperset method to check if its a super set
set2.issuperset(set3)

True

In [13]:
set4 >= set3

True

In [14]:
# we use > to check if its a proper set
set2 > set5

True

In [15]:
set8 = {3,4,5,7}

In [16]:
#remove 
set8.remove(4)
print (set8)

{3, 5, 7}

--- to remove an element from a set we can use index or remove

## Set operators
##### Intersection
- only takes the numbers in both sets no duplicates

In [17]:
set6 = {1,2,3,4,4,5,6,6,6,7,8,9}

In [18]:
set6.intersection(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [19]:
# we can also use &(ampersand sign) operator for intersection
set2&set6

{1, 2, 3, 4, 5, 6, 7, 8, 9}

##### Union

In [20]:
# set of elements of t and s or in both
set2.union(set6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [21]:
# we can use the |(vertical bar sign) to indicate union
set2|set6

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

##### Relative complement / the difference
- elements not in that set

In [22]:
# we can use the -(minus) operator
set2-set6

{10}

In [23]:
# always start with the bigger set
# we can use the difference method too
set2.difference(set6)

{10}

##### Absolute complement
- defines all elements not in the universal set

## Additional set attributes
##### cardinality 
- number of elements in a set.

In [24]:
# we use len to ind cardinality
len(set2)

10

In [25]:
len(set6)

9

##### exclusion-inclusion principle

In [26]:
# the duplicates have been removed thats why the methods is called exclusion and inclusion
print(len(set2) + len(set6))

19

In [27]:
# method of counting number of elements
# |S u T| = |S| + |T| - |S n T|
# we use cardinality of the union of two sets 
# hence the cardinality of the unions of set 2 and set 6 is:
len(set2) + len(set6) - len(set2) & len(set6)

9

In [28]:
#hence
len(set2|set6) == len(set2) +len(set6) - len(set2 & set6)

True

--- n this intersection,,, u is the union ,,,,|s| means its a set s  hence |S u T| = |S| + |T| - |S n T|

In [29]:
# union of set2 and set 6
print (len(set2|set6))

10

## PROBABILITY
- likelihood of an event occuring
- experiment
- event - outcome of a particular experiment
- sample space - respresents universe of all possible outcomes
- event space - a subset of a sample space

##### Law of large numbers

In [ ]:
# all possible outcomes of a dice 
# non-negative integers are in sample space.
set7 = {1,2,3,4,5,6}

##### Mutually Inclusive
- both events are dependent on each other
- hence:
     len(setA|setB) == len(setA) +len(setB) - len(setA & setB)

##### Mutually Exclusive
- Events are not dependent on each other
- hence:
    len(set2|set6) == len(set2) +len(set6) - 0
    - hence:
        len(set2|set6) == len(set2) +len(set6)