# THURSDAY 4TH SEP PYTHON

In [1]:
year_of_birth = int (input("Enter your year of birth"))
age = 2025 - year_of_birth
print(f"I am {age} years old")
# f string allows to mix different data types

I am 23 years old

In [ ]:
date_of_birth = int(input("I was born on date:"))
print (f"I was born on date {date_of_birth}")

I was born on date 1

In [ ]:
#years employed
year_employed = int(input("I was employed in the year:"))
years_employed = 2025 - year_employed
print(f"I have been employed for {years_employed} years.")

I have been employed for 22 years.

In [ ]:
# a programme that greets you back
Greetings = (input("say hi to get a response"))
print("hi too")

hi too

In [ ]:
# a programme that tells you your favorite colour
favorite_colour = (input("Whats your favorite colour?:"))
print (f"my favorite colour is {favorite_colour}.")

my favorite colour is yellow.

In [ ]:
# get users name, age and date of birth
def suffix_date(day):
    if day >= 4 and day <= 30:
        return (f"{day}th")
    elif day == 3:
        return (f"{day}rd")
    elif day == 2:
        return (f"{day}nd")
    else:
        return (f"{day}st")

user = (input("name:"))
year_born = int(input("year born:"))
age = 2025 - year_born
month_born = (input("month born:"))
day = int(input("date:"))
day_with_suffix = suffix_date(day)
date_born = f"{day_with_suffix}, {month_born}, {year_born}"



print (f"My name is {user}, I am {age} years old. I was born on {date_born}")

My name is Njeri, I am 23 years old. I was born on 1st, November, 2002

In [2]:
greetings = (input("Say hi to get a response: "))
name = " Njeri"
greetings += name + " how are you doing?"
print (input(greetings))
print ("I am fine thank you")

am very good
I am fine thank you

#### variables
define x to be 10 and y to be 20

In [ ]:
#ARITHMETIC FUNCTIONS IN PYTHON
# ADD, DIVISION, MULTIPLICATION, SUBTRACT, SUBTRACTION, ABSOLUTE(AGREGATIVE NUMBER)
x=10
y=20

In [ ]:
y-x

10

##### Multiplication

In [ ]:
y*x

200

##### Division

In [ ]:
y/x

2.0

##### Power

In [ ]:
x**3

1000

In [ ]:
y**2

400

##### Modulus

In [ ]:
z=3

In [ ]:
y%x

0

In [ ]:
x%z

1

In [ ]:
y%x

0

### logical operators
They include
- And
- Or
- Not

### Comparison operators
They include 
- Equals ==
- Not equals to !=
- Greater than >
- less than <
- greater than or equals to >=
- less than or equals to <=

In [ ]:
print (x+y, x**y, x%y)

30 100000000000000000000 10

In [ ]:
y>x and z<5

True

In [ ]:
x>y

False

#### Control flows
1. Conditional statements
- if
- else
- elif
- if...else two conditions
- if elif else... multiple conditions

In [ ]:
miaka = int (input("Weka miaka yako:" ))
if miaka >= 18: 
    print ("Mtu mzima!")      
else:
    print ("Mtoto")

Mtoto

In [ ]:
# child, teenager, young adult, senior
miaka = int(input("Weka miaka yako:"))
if miaka > 0 and miaka < 13:
    print ("mtoto")
elif miaka >= 13 and miaka < 20:
    print ("kijana")
elif miaka >= 20 and miaka < 35:
    print ("mtu mzima")
else:
    print ("mzee")

mzee

In [ ]:
date_of_birth =  int(input(" date born:"))
if date_of_birth == 1:
    print(f"{date_of_birth}st")
elif date_of_birth == 2:
    print(f"{date_of_birth}nd")
elif date_of_birth == 3:
    print(f"{date_of_birth}rd")
else:
    print(f"{date_of_birth}th")

1st

#### Control flows
- Break
- Control
- Pass

#### loops
- while loop - italates through every element in a data structure
- for loop - if the condition is met or if it remains true it run the code

In [ ]:
# list fruits
Fruits = ["Mango", "pawpaw", "oranges", "watermelons", "pears"]
for t in Fruits:
    print (t)

Mango
pawpaw
oranges
watermelons
pears

In [ ]:
Numbers = [1,2,3,4,5,6,7,8,9,10]
for number in Numbers:
    print(number,end=", ")

# TO PLACE HORIZONTALLY USE END= " "

1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

In [ ]:
Teachers = ["mary","john","doe"]
for t in Teachers:
    print(t,end=" ")

mary john doe

While loop

In [ ]:
## counting from 0 and stop at 5
count = 0
while count < 5:
    print(count)
    count += 1
#if we add the incremental value;
## write a program chatbot that uses a while loop to answer questions about data science ans AI

0
1
2
3
4

In [ ]:
count = 0
while count < 6:
    print (count)
    count += 1

0
1
2
3
4
5

In [ ]:
count = 10
while count < 20:
    print(count)
    count +=2

10
12
14
16
18

In [ ]:
for num in Numbers:
    if num >= 5:
        break
    print (num)

1
2
3
4

In [ ]:
for num in Numbers:
    if num == 5:
        continue
    print (num)

1
2
3
4
6
7
8
9
10

In [ ]:
for num in Numbers:
    if num >= 5:
        pass
    print (num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
Numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for t in Numbers:
    print(t,end=", ")

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,

In [ ]:
for num in Numbers:
    if num == 6:
        break
    print (num)

1
2
3
4
5

In [ ]:
for t in Numbers:
    if t == 12:
        pass
    print(t)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
for r in Numbers:
    if r == 16:
        continue
    print(r)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
17
18
19
20

### List comprehensions
- They are an easier way of creating list from loops

In [ ]:
# even numbers from 0-10
even_numbers = [i for i in range(0,11) if i%2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8, 10]

In [ ]:
# odd numbers
odd_numbers = [i for i in range(0,21) if i%2 == 1]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# prime numbers
prime_numbers = [i for i in range(0, 50) if all(i % n != 0 for n in range(2, int(i**0.5) + 1))]
print(prime_numbers)

[0, 1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
# squares
square_numbers = [i**2 for i in range (0,26)]
print(square_numbers)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625]

In [ ]:
#cubed
cubed_numbers = [i**3 for i in range (0,26)]
print (cubed_numbers)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625]

In [ ]:
odd_numbers = [i for i in range(0,26) if i%2 != 0 ]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

In [ ]:
prime_numbers = [i for i in range(0,26) if i%1 == 0 or i%i == 0]
print (prime_numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

#### Python functions
block of reusable code
- Normal function -- start with def
- lamda functions
- decorators

In [ ]:
# function that add two numbers
# DEFINING FUNCTION-- parameter
def add(X,Y):
    return X+Y

In [ ]:
# CALLING FUNCTION -- argument
add1=add(10,30)
print(add1)

40

In [ ]:
add(20,30)

50

In [ ]:
add2= add(69,98)
print(add2)

167

In [ ]:
#multiply 3 numbers
def multiply (x,y,z):
    return (x*y*z)

In [ ]:
product1 = multiply(10,30,80)
print(product1)

24000

In [ ]:
def multiply(a,b,c):
    return(a*b*c)

In [ ]:
multiply1 = multiply(10,11,12)
print(multiply1)

1320

In [ ]:
# A function that greets someone
def greetings (name):
    print(f"hi {name} .How are you?")

In [ ]:
greetings1 = greetings("Njeri")
print(greetings1)

hi Njeri .How are you?
None

In [ ]:
greetings2 = greetings("Mercy")
greetings2

hi Mercy .How are you?

In [ ]:
def calculate_area(length,width):
    return(length*width)

In [ ]:
Area1 = calculate_area(7,9)
print(Area1)

63

In [ ]:


def student_report (name,grades,average):
       if average >= 80:
            print("excellent")
       elif average >= 50:
            print("good")
       else:
            print("bad")

         
       print(f"I am {name} , with grade {grades} and remark {average}")

In [ ]:
student_report('njeri', 77, 77)

good
I am njeri , with grade 77 and remark 77

In [ ]:
def personality(name,colour,month,date):
    return(f"Hi, my name is {name}.My favorite colour is {colour} and I was born on {month} {date}")

In [ ]:
Person1= personality("Njeri","white","November",1)
print(Person1)

Hi, my name is Njeri.My favorite colour is white and I was born on November 1

In [ ]:
# break is used to stop the while loop otherwise it'll keep on running
print ("Hi there, Welcome to windy chatbot. How may I help you today? ")
print("What would you like to know?")


while True:
    question = (input("...")).lower()

    if  "what is data science" in question:
        print("Good question. Data Science is the field that combines Statistics, Programming, Domain knowledge, Machine learning & AI, to extract insights and knowledge from data")
    elif  "what is ai in full" in question:
        print("Artificial Intelligence")
    elif  "what is ai" in question:
        print("It is the simulation of human intelligence by machines.")
    elif "what is python" in question:
        print("Python is the most popular programming language for AI and Data Science due to its simplicity and rich libraries.")
    elif "exit" in question:
        print("Goodbye , thanks for using windy chatbot")
        break
    else:
        print("I dont have the answer to this question")

Hi there, Welcome to windy chatbot. How may I help you today?
What would you like to know?
Goodbye , thanks for using windy chatbot

# MONDAY 8TH SEP CLASS
#### Lambda function

In [ ]:
result = lambda X,y,z: X*y*z

In [ ]:
result1 = result(23,45,12)
result1

12420

In [ ]:
sayhi = lambda name:f"Hi,{name}"

In [ ]:
greet1 = sayhi("njeri")
greet1

'Hi,njeri'

#### list, Tupples, set, dictionary

##### List
- can be changed
- [ ]
-  apppend -- to add elements
-  pop -- removes elements

In [ ]:
#List
# apppend -- to add elements
# pop -- removes elements
fruits = ["apple","banana","cherry"]
fruits.append("orange")
fruits

['apple', 'banana', 'cherry', 'orange']

In [ ]:
fruits.pop()
print(fruits)

['apple']

In [ ]:
fruits

['apple', 'banana', 'cherry']

#### Tupples

In [ ]:
Image_pixels = (1920,1080)
Image_pixels.count(1920)

1

In [ ]:
Image_pixels.index(1080)

1

In [ ]:
Image_pixels[1]

1080

--- remove bananas

#### Set operators
- not ordered
- elements can be added (it is mutable)
- denoted by {}
- Intersection(common values) and union(combination)
- they do not take duplicates

In [ ]:
set1 = {5,7,6,8,4}
set2 = {1,2,3,4,9}

In [ ]:
set3 = set1.intersection(set2)
set3

{4}

In [ ]:
set4 = set1.union(set2)
set4

{1, 2, 3, 4, 5, 6, 7, 8, 9}

--- read more about set in notes

#### Dictionary
- denoted by {}
- key pair and the corresponding value 
- mutable

In [ ]:
person = {
    "Name": "Nj",
    "age" : 21,
    "fruit": "water melon"

}
person

{'Name': 'Nj', 'age': 21, 'fruit': 'water melon'}

In [ ]:
data = {
    "name":["john","doe","alice","mountain","alex"],
    "age":[12,13,86,24,53],
    "fruit":["melon","apple","quava","mango","kiwi"]
}
data

{'name': ['john', 'doe', 'alice', 'mountain', 'alex'],
 'age': [12, 13, 86, 24, 53],
 'fruit': ['melon', 'apple', 'quava', 'mango', 'kiwi']}

In [ ]:
# install pandas
# call functions
import pandas as pd
df=pd.DataFrame(data)
df.head()

       name  age  fruit
0      john   12  melon
1       doe   13  apple
2     alice   86  quava
3  mountain   24  mango
4      alex   53   kiwi

--- read on the methods of dictionary

#### PANDAS 
- DATA FRAMES are tables in python

#### INDEX
-uses indices returns without modifying the original list

In [ ]:
numbers = [10,20,30,40,50]

In [ ]:
numbers[2]

30

In [ ]:
numbers[3]

40

In [ ]:
numbers[:3]

[10, 20, 30]

In [ ]:
numbers[:1]

[10]

In [ ]:
numbers[1:]

[20, 30, 40]

In [ ]:
numbers[2:]

[30, 40]

In [ ]:
numbers.append(60)
numbers

[10, 20, 30, 40, 50, 60]

In [ ]:
numbers[3:6]

[40, 50, 60]

--- read on decorators

# TUESDAY 9TH SEPTEMBER 
#### OOP
##### Classes
- always use uppercase for the first letter
- a class is a blue print for creating objects
- always think of attributes when creating an object
- function inside a class is a method

In [ ]:
## a class must be initialized so we use def __def__init(self,attributes)
## the class must start with a capital letter
## the indent should be correct.
class Person :
    def __init__(self,name,age,gender,nationality):
        self.name = name
        self.age = age
        self.gender = gender
        self.nationality = nationality
    def speak(self):
        return f"Hi my name is {self.name}. I am {self.age} years old. I am a {self.gender} and I am {self.nationality}."

In [ ]:
person1 = Person("Njeri",21,"Female","Kenyan")
print (person1.speak())

Hi my name is Njeri. I am 21 years old. I am a Female and I am Kenyan.

In [ ]:
class Rectangle:
    def __init__(self,length,width):
        self.length = length
        self.width = width
    def area(self):
        area = self.length*self.width
        return f"The area of our rectangle of width {self.width} and length {self.length} is {area}."
    def perimeter(self):
        perimeter = self.length + self.width + self.length + self.width
        return f"The perimeter of our rectangle of width {self.width} and length {self.length} is {perimeter}"

In [ ]:
rectangle1 = Rectangle(12,98)
print (rectangle1.area())
print (rectangle1.perimeter())

The area of our rectangle of width 98 and length 12 is 1176.
The perimeter of our rectangle of width 98 and length 12 is 220

In [ ]:
# Constants including PI should be written in capital and not to be defined in self as an attribute.
# constructor
class Circle:
    def __init__(self,radius):
        self.radius = radius
        self.PI = 3.142
    def area(self):
        area = self.PI * (self.radius**2)
        return f"The area of the Circle with radius {self.radius} is {area}"
    def perimeter(self):
        perimeter = self.PI * self.radius* 2
        return f"the perimeter of the circle with radius {self.radius} is {perimeter}"

In [ ]:
circle1 = Circle(7)
print (circle1.area())
print (circle1.perimeter())

The area of the Circle with radius 7 is 153.958
the perimeter of the circle with radius 7 is 43.988

In [ ]:
circle2 = Circle(21)
print(circle2.perimeter())

the perimeter of the circle with radius 21 is 131.964

### Inheritance in classes
- constructor --  where we store attributes.
- method 
- class with attributes
- class with methods
- Parent class - we define the attributes
- the sub class or child class - will inherit attributes from parent class

In [ ]:
# Write a class car with attributes brand and year and a method called display that prints a formatted string
class Car:
    def __init__(self,brand,year):
        self.brand = brand
        self.year = year
    def display(self):
        return f"This car is a {self.brand} model {self.year}."

In [ ]:
car3 = Car("TOYOTA",2019)
print(car3.display())

This car is a TOYOTA model 2019.

In [ ]:
class Animal:
    def __init__(self,name):
        self.name = name
    def speak(self):
        return f"{self.name} makes a sound"

In [ ]:
class Dog(Animal):
    def speak(self):
        return f"{self.name} says woof!"

In [ ]:
dog1 = Dog("gubash")
print(dog1.speak())

gubash says woof!

In [ ]:
class Cow(Animal):
    def speak(self):
        return f"{self.name} says moow"

In [ ]:
cow1 = Cow("mosh")
print(cow1.speak())

mosh says moow

In [ ]:
class Cat(Animal):
    def speak(self):
        return f"{self.name} says meow"

In [ ]:
cat1 = Cat("mwoosh")
print(cat1.speak())

mwoosh says meow

--- create a class employee name it salary then create a subclass manager witha an extra dept attribute and  method to display full details.

In [ ]:
class Employee:
    def __init__(self,salary,department):
        self.salary = salary
        self.department = department
    def speak(self):
        return f"Hi my salary is {self.salary} and my department is {self.department}."

In [ ]:
class Manager(Employee):
    def speak(self):
        return f"Hi my salary is {self.salary} and my department is {self.department}."

In [ ]:
Manager1 = Employee(500000,"Data")
print(Manager1.speak())

Hi my salary is 500000 and my department is Data.